body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
}

#title h1, #title h2, #title p {
  margin: 0;
  padding-top: 10px;
}